
.project-card:nth-child(2){
    animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes spin {
    0% {
    }
    50% {
        scale: 1.2;
        transform: rotate(0);
        border-radius: 20px;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 50%;
        scale: 1.2;
    }

}